# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
kocxyz

# misc
.DS_Store
.nvmrc

npm-debug.log*
yarn-debug.log*
yarn-error.log*
